incheck-project/trunk/insite-ng/server/src/test/resources/test-data/data_incheck_user.dtd

<!ELEMENT dataset (incheck_user*,role*, user_role*)>

<!ELEMENT incheck_user EMPTY>
<!ATTLIST incheck_user
    ID CDATA #REQUIRED
    ACCOUNT_EXPIRED CDATA #REQUIRED
    ACCOUNT_LOCKED CDATA #REQUIRED
    CREDENTIALS_EXPIRED CDATA #REQUIRED
    ADDRESS CDATA #IMPLIED
    CITY CDATA #IMPLIED
    COUNTRY CDATA #IMPLIED
    POSTAL_CODE CDATA #IMPLIED
    PROVINCE CDATA #IMPLIED
    EMAIL CDATA #REQUIRED
    FIRST_NAME CDATA #REQUIRED
    LAST_NAME CDATA #REQUIRED
    VERSION CDATA #REQUIRED
    PASSWORD CDATA #REQUIRED
    PASSWORD_HINT CDATA #IMPLIED
    PHONE_NUMBER CDATA #IMPLIED
    USERNAME CDATA #REQUIRED
    IS_ENABLED CDATA #REQUIRED
    CREATED_ON CDATA #REQUIRED
    CREATED_BY CDATA #REQUIRED
    UPDATED_ON CDATA #REQUIRED
    UPDATED_BY CDATA #REQUIRED
>

<!ELEMENT role EMPTY>
<!ATTLIST role
    ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    DESCRIPTION CDATA #IMPLIED
>

<!ELEMENT user_role EMPTY>
<!ATTLIST user_role
    USER_ID CDATA #REQUIRED
    ROLE_ID CDATA #REQUIRED
>
