incheck-project/trunk/insite-ng/server/src/test/resources/test-data/data_channel.dtd

<!ELEMENT dataset (dam*,sensor*, channel*)>

<!ELEMENT dam EMPTY>
<!ATTLIST dam
    ID CDATA #REQUIRED
    SERIAL_NUMBER CDATA #REQUIRED
    DESCRIPTION CDATA #REQUIRED
    DEVICE_TYPE CDATA #REQUIRED
>

<!ELEMENT sensor EMPTY>
<!ATTLIST sensor
    ID CDATA #REQUIRED
    DAM_ID CDATA #REQUIRED
    SENSOR_TYPE_ID CDATA #REQUIRED
    NAME CDATA #REQUIRED
    COMMENTS CDATA #IMPLIED
>

<!ELEMENT channel EMPTY>
<!ATTLIST channel
    ID CDATA #REQUIRED
    SENSOR_ID CDATA #REQUIRED
    DEVICE_CHANNEL_ID CDATA #REQUIRED
    CHANNEL_TYPE_ID CDATA #REQUIRED
    CHANNEL_MEASURE_TYPE_ID CDATA #REQUIRED
    COMMENTS CDATA  #IMPLIED
>
